# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Distribution / Packaging
dist/
build/
*.egg-info/
*.egg

# Environment Variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.venv/
.env
.env
checkpoints/
logs/
documentation/
.env.docker
